<form class="login-form">
    <h5 class="text-white font-weight-bold">Login</h5>
    <div class="p-3 bg-light">
        {{>form}}
        <button type="submit" class="p-2 btn bg-secondary font-weight-bold text-white w-100">Login</button>
    </div>
    <div class="p-1">
        <a href="/signup" class="font-weight-bold text-white">Sign Up</a>
    </div>
</form>
<script src="/javascript/login.js"></script>